.App {
  text-align: center;
}
.App-header {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
  color:#fff;
}
.App> form {
  margin-top: 20px;
  margin-bottom: 10px;
}
.App > form > input {
  color:#000;
  font-size: 16px;
  background: transparent;
  padding: 10px;
  border: solid 2px grey;
  outline: none;
  border-radius: 35px;
}
.news-main {
 display: flex;
 flex-flow: wrap;
 width: 100%;
}
.news-main .news-comp-card{
  margin: 10px;
  padding: 10px;
  width:calc(25% - 20px);
  min-height: 400px;
  background: white;
  border: 3px solid grey;
  box-sizing: border-box;
}
.news-main .news-comp-card img{
  width: 100%;
  height:200px;
}

@media only screen and (min-width:0px) and (max-width: 767px) {
  .news-main .news-comp-card{
    width: 100%;
  }
}
@media only screen and (min-width:768px) and (max-width: 991px) {
  .news-main .news-comp-card{
    width: calc(33.33% - 20px)
  }
}
